<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Anyupdate{% endblock %}</title>
    
    {% block css %}

    {% endblock %}

    {% block javascript %}

    {% endblock %}

</head>
<body>
    <div class="container-fluid">
        <div class="header-left">
            <div class="cool-title">COOL APP</div>
        </div>
        <div class="header-right">
            <div class="main-title">AnyUpdate</div>
        </div>
        <div class="grid-stack">
        </div>
    {% block content %}
    {% endblock %}
        <div class="footer">
            <a class="config-btn" href="/admin/">Configure</a>
        </div>
    </div>

    {% block footerjs %}
    {% endblock %}
</body>
</html>
