{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'dashboard/gridstack.css' %}" />
    <link rel="stylesheet" href="https://anijs.github.io/lib/anicollection/anicollection.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            background-color: black !important;
        }
        h1 {
            font-family: Impact, Charcoal, sans-serif;
            font-size: 42px;
            letter-spacing: 0px;
            word-spacing: 2px;
            color: #000000;
            font-weight: 700;
            text-decoration: none solid rgb(68, 68, 68);
            text-align: center;
            margin-top: 10px;
        }
        .cool-title {
            font-family: Impact, Charcoal, sans-serif;
            font-size: 42px;
            letter-spacing: 0px;
            word-spacing: 2px;
            color: #ca1e1e;
            font-weight: 700;
            text-decoration: none solid
            rgb(68, 68, 68);
            margin-top: 5px;
            margin-left: 5px;
            text-align: center;
        }
        .main-title {
            font-family: Impact, Charcoal, sans-serif;
            font-size: 42px;
            letter-spacing: 0px;
            word-spacing: 2px;
            color: #000000;
            font-weight: 700;
            text-decoration: none solid rgb(68, 68, 68);
            text-align: center;
        }
        .header-left {
            background-size: contain;
            background-repeat: no-repeat;
            height: 25px;
            float: left;
            text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
            font-size:60px
        }
        .header-right {
            background-image: url("{% static "dashboard/icon-title.png" %}");
            background-color: #ca1e1e;
            background-repeat: no-repeat;
            height: 65px;
            width: 85%;
            float: right;
        }
        .grid-stack {
            margin-top: 90px;
            background: #cccccc;
            background-color: transparent;
        }
        .grid-stack-item {
        }
        .grid-stack-item-content {
            color: #000;
            text-align: center;
            background-color: #DCD9D4; background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%); background-blend-mode: soft-light,screen;
            -webkit-box-shadow: 0px 0px 30px 0px rgba(230,230,230,1);
            -moz-box-shadow: 0px 0px 30px 0px rgba(230,230,230,1);
            box-shadow: 0px 0px 30px 0px rgba(230,230,230,1);
            border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 0px solid ;
        }
        .incidentlist {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        .incidentlist li {
          font-weight: 700;
        }
        .footer {
            position:absolute;
            bottom:20px;
            width:98%;
            background-color: transparent;
        }
        .config-btn1 {
            width: 120px;
            display: block;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ie-border-radius: 6px;
            border-radius: 6px;
            padding: .48em .8em;
            text-shadow: rgba(0,0,0,.5) 0px -1px 0px;
            font-size: 18px;
            font-weight: 700;
            background-color: #cc3747;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            box-shadow: rgb(221, 67, 86) 0px 0px 0px 1px inset, rgb(141, 27, 39) 0px 4px 0px 0px, rgb(157, 30, 43) 0px 5px 0px 0px, rgba(0, 0, 0, 0.14902) 0px 8px 0px 0px;
            cursor: pointer;
            text-decoration: none;

        }
        .config-btn1:active{
            color: white;
            border-radius: 5px;
            background: #FFFFFF;
            opacity: 0.5;
        }
        .config-btn {
            margin-bottom: 20px;
            margin-right: 50px;
            float: right;
            width: 120px;
            display: block;
            -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
            -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
            box-shadow: 3px 4px 0px 0px #8a2a21;
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
            background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
            background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
            background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
            background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
            background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
            background-color:#c62d1f;
            -moz-border-radius:18px;
            -webkit-border-radius:18px;
            border-radius:18px;
            border:1px solid #d02718;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:17px;
            padding:7px 25px;
            text-decoration:none;
            text-shadow:0px 1px 0px #810e05;
        }
        .config-btn:hover {
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
            background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
            background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
            background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
            background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
            background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
            background-color:#f24437;
        }
        .config-btn:active {
            position:relative;
            top:1px;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script type="text/javascript" src="{% static "dashboard/gridstack.js" %}"></script>
    <script type="text/javascript" src="{% static "dashboard/gridstack.jQueryUI.js" %}"></script>
{% endblock %}

{% block footerjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AniJS/0.9.3/anijs.js"></script>
    <script type="text/javascript" src="{% static "dashboard/dashboard.js" %}"></script>
{% endblock %}
